/* General styling */
body {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  background-color: #ffffff;
  font-size: 30pt;
  text-align: center;
}

a{
  text-decoration: none;
  transition-duration: 0.4s;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  transition: .4s ease-in-out;
  color: rgb(43, 102, 63);
}

.page-container{
  border: 1px solid rgb(0, 0, 0);
}


.panels-container{
  border: 2px solid rgb(66, 66, 66);
  display: grid;
  column-gap: 5%;
  grid-template-rows: 1fr 1fr 1fr;
}

#weather-panel{
  border: 5px solid red;
}

#article-panel{
  border: 5px solid rgb(0, 255, 255);
}

#OpenTripMap-panel{
  border: 5px solid rgb(0, 255, 34);
}
